<mat-toolbar color="primary" class="navbar">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Shop A17</span>
    <div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" (click)="navigation(4)" aria-label="Example icon-button with heart icon">
            @if (this.itemsNumbers > 0) {
                <mat-icon [matBadge]="this.itemsNumbers" matBadgeColor="warn">shopping_cart</mat-icon>
            }@else {
                <mat-icon>shopping_cart</mat-icon>
            }
        </button>
    </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigation(3)">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="navigation(1)">
        <mat-icon>account_circle</mat-icon>
        <span>Log In</span>
    </button>
    <button mat-menu-item (click)="navigation(2)">
        <mat-icon>person_add</mat-icon>
        <span>Sing Up</span>
    </button>
</mat-menu>